<!-- ___________ Shows all genres saved by the user ____________________ -->

<!--http://localhost:3000/genres  -->

<h1>All Categories</h1>

<!-- Nav bar -->
<ul>
  <li><a href="/links/new">Add new link</a></li>
  <li><a href="/genres/new">Create new Category</a></li>
  <li><a href="/links">Saved Links</a></li>
  <li><a href="/genres">Saved Categories</a></li>
</ul>

<% @genres.each do |g| %>

<!-- Displays the name user enters in form -->
<p><%=g.name %></p>

<!-- Displays the description user enters in form -->
<p><%=g.description%></p>

<hr>

<% end %>
