<!-- ___________ Allows user to create and store genre ____________________ -->

<!-- http://localhost:3000/genres/new -->
<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/links/new">New link</a></li>
  <li><a href="/links">Your Links</a></li>
  <li><a href="/genres">Your Categories</a></li>
</ul>

<h1>Add new Category</h1>

<!-- Call render to create a full response to send back to the browser -->
<%= render :partial => 'form' %>
