<!-- ___________ Allows user to create and store genre ____________________ -->

<!-- http://localhost:3000/genres/new -->
<ul>
  <li><a href="/profile">Profile</a></li>

</ul>

<h1>Add new Category</h1>

<!-- Call render to create a full response to send back to the browser -->
<%= render :partial => 'form' %>
