<h1>Genres show</h1>

<form action="/genres/create" method="post">
  <input type="text" name="name" placeholder="Genre" required>
  <input type="url" name="link" placeholder="Link url..." required>
  <input type="text" name="description" placeholder="Description" required>
  <input type="url" name="image" placeholder="Image" required>
  <button>Create Genres</button>
</form>
