<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/links/new">New Link</a></li>
  <li><a href="/genres/new">New Category</a></li>
  <li><a href="/links">Your Links</a></li>
</ul>

<h1>All Users</h1>

<% @users.each do |user| %>
  <p><%= user.name %></p>
<% end %>
