<h1>Feed - shows all links and all categories of users (most popular)</h1>

<li><a href="/profile">Profile</a></li>
<li><a href="/links/new">NewLink</a></li>
<li><a href="/genres/new">New Category</a></li>
<li><a href="/links">Your Links</a></li>
