<!-- __________ Home Page, sign up, sign in and intro ________________s
  _____________ nav comes from application.html.erb __________________ -->

<!-- http://localhost:3000/ -->

<h1>Cloud Links</h1>

<h2>SAVE FOR LATER</h2>

<p>Put articles, videos or pretty much anything into Cloud Links.

Copy the link from your browser, or from your app like twitter and save

in your cloud links profile for later.</p>
 
<a href="/users/new"><button>SIGN UP</button></a>
<a href="/login"><button>LOG IN</button></a>

<br>
<br>
To do List
<br>
<br>
<li>Image</li>
<li>Parallax effect</li>
<li>More text</li>

<li>Nice to do - add in google sign up</li>


<!-- Save video, images, text and other content, all in one place. -->
