<h1>Links Feed</h1>
<p> Need to create a template to store in links and scrap the web for snippets</p>

<nav>
  <% if @current_user.present? %>
    <%= link_to "Create Category", genres_new_path %>
  <% end %>
</nav>
