<!-- ___________ Allows user to create and store a link _____________ -->

<!-- Nav bar -->
<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/genres/new">Create new Category</a></li>

</ul>

<h1>Create a new link</h1>

<%= render :partial => 'form' %>
