<h1>Create a new link</h1>

<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/genres/new">Create new Category</a></li>
  <li><a href="/links">Saved Links</a></li>
  <li><a href="/genres">Saved Categories</a></li>
</ul>

<%= render :partial => 'form' %>
