<!-- ___________ Allows user to edit stored links__________________ -->

<!-- http://localhost:3000/links/create -->

<!-- Nav bar -->
<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/genres/new">Create new Category</a></li>
  <li><a href="/links">Saved Links</a></li>
  <li><a href="/genres">Saved Categories</a></li>
</ul>

<!-- Displays edited link information -->

<%= @link.link_display_name %>
<%= @link.display_description %>
<%= @link.display_url %>
