<!-- ___________ Allows user to edit stored links__________________ -->

<!-- http://localhost:3000/links/create -->

<!-- Nav bar -->
<ul>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/genres/new">Create new Category</a></li>
  <li><a href="/links">Saved Links</a></li>
  <li><a href="/genres">Saved Categories</a></li>
</ul>

<!-- Displays edited link information -->

<% @genres.each do |g| %>
  <div class="genre">
    <p style="color:red"><%= g.name %><br>
      <%= g.description %></p>
    <% @links.each do |l| %>
    <% if g.id === l.genre_id %>
      <div class="link">
        <%= l.link_display_name %>
        <%= l.display_description %>
      </div>
    <% end if %>
  </div>
  <% end %>
<% end %>
