// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.genre_edit_container {
  border: 1px lightgrey solid;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: white;
  a {
    margin: 5px 0;
    text-align: left;
    width: 100%;
    .badge {
    background-color: #ec5197;
    float: right;
  fieldset {
    width: 100%;
      }
    }
  }
}
