<h1>Profile Page</h1>

<ul>
  <li><a href="/links/new">Add new link</a></li>
  <li><a href="/genres/new">Create new Category</a></li>
  <li><a href="/links">Saved Links</a></li>
  <li><a href="/genres">Saved Categories</a></li>
</ul>

<p>Shows profile picture, saved links, categories, button to news feed</p>
