<ul>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/links/new">New Link</a></li>
  <li><a href="/genres/new">New Category</a></li>
  <li><a href="/links">Your Links</a></li>
</ul>

<h1>Profile Page</h1>

<p>Shows profile picture, categories, button to news feed</p>

<!--________________ Shows user name and pic __________________ -->

<!--  NEED TO ADD IN -->

<!--________________ Shows links on page _____________________ -->

<% @links.each do |l| %>
<hr>

<!-- Displays the name user enters in form -->
<p><%=l.link_display_name %></p>

<!-- Displays the description user enters in form -->
<p><%=l.display_description%></p>

<!-- Displays the URL user enters in form -->
<p><%=l.display_url%></p>

<% end  %>

<hr>
