<ul>
  <li><a href="/pages/feed">Cloud Feed</a></li>
  <li><a href="/links/new">New Link</a></li>
  <li><a href="/genres/new">New Category</a></li>
  <li><a href="/links">Your Links</a></li>
</ul>

<h1>Profile Page</h1>

<p>Shows profile picture, saved links, categories, button to news feed</p>
<br>
<br>
<br>

TO dos

<li>Shows image (profile pic) from user ID</li>
<li>Shows Users 'top ten' links</li>
<li>links to 'create new link', 'show all saved links', 'links feed'</li>
